
  .container {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .up {
    color: rgb(0, 134, 56);
  }
  .down {
    color: red;
  }

  .containerIcons {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details {
    width: 40%;
  }

  .amount {
    width: 30%;
  }

