
  .container {
    list-style: none;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ab76ff;
  }

  .up {
    color: rgb(0, 134, 56);
  }
  .down {
    color: red;
  }

  .containerIcons {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .amount {
    text-align: center;
  }

  @media(max-width: 768px){
    .container{
      width: 100%
    }
  }

