.container{
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.formEntry{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.input{
    width: 70%;
    margin-top: 10px;
    height: 15px;
    border: 0;
    border-bottom: 2px solid rgb(67, 0, 252);
    background: transparent

}

.select{
    width: 70%;
    margin-top: 10px;
    border:0;
    border-bottom: 2px solid rgb(67, 0, 252);
    background: transparent
   
}
.btn{
    height: 30px;
    width: 30%;
    color:white;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    border: 3px solid rgb(94, 36, 255);
    cursor: pointer;
}

.btn:hover{
    background: rgba(0, 0, 0, 0.644);
}


.title{
    align-self: center;
}

.label{
    align-self: flex-start;
    margin-left: 10px;
}
@media(max-width: 768px){
    .container{
        padding: 15px;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        align-items: center;
    }

    .formEntry{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 250px;
    }


    .title{
        align-self: center;
    }

    .label{
        align-self: flex-start
    } 
   
   
}