.container {
    display: flex;
    align-items: center;
    margin-top: 25px;
    justify-content: center;
}
.button{
    height: 30px;
    width: 85px;
    color:white;
    background: rgb(0, 0, 0);
    border-radius: 5px;
    border: 3px solid rgb(94, 36, 255);
    cursor: pointer;
    margin: 0 30px;
}
.button:hover{
    background: rgba(0, 0, 0, 0.644);
}


