.balance {
  display: flex;
  flex-direction: row;
}

.containerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.text{
  margin-right: 50px;
}

@media (max-width: 578px) {
  .containerHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .containerCards {
    width: 90%;
  }

  .ul {
    padding: 0;
  }

  .balance {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-around;
      flex-direction: row;
  }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }