.list{
    display: flex;
    flex-direction: row
}

.itemList{
    width: 200px;
    list-style: none;
}

.link{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.option{
    font-family: 'Bakbak One', cursive;
}

@media(max-width: 768px){
    .list{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgb(0, 0, 0);
        width: 100%;
        border-top: 3px solid rgb(67, 0, 252)
    }

    .itemList{
       padding-left:45% 
    }
}