@media(max-width: 578px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .message{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
}