.container {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(0, 0, 0);
  justify-content: space-between;
  border-bottom: 5px solid rgb(94, 36, 255);
  
}

.logo{
    margin-left: 40px;
    color: white;
    font-family: 'Bakbak One', cursive;
    letter-spacing: 2px;
}
